<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pipilong.mapper.ItemMapper">


    <insert id="save">
        insert into reptile.commodity_entry value (null,'${title}',${price},
            '${pic}','${url}','${created}','${updated}',${sku})
    </insert>

    <select id="findAll" resultType="com.pipilong.domain.Item" parameterType="com.pipilong.domain.Item">
        select * from reptile.commodity_entry where sku = ${sku}
    </select>


</mapper>